# === Agent configuration ===
# You do not need to set all agent configuration variables below.
# Set only the ones required for the provider(s) you wish to use (OpenAI or Azure OpenAI or both).

## === OpenAI ===

# The model identifier for OpenAI API requests.
DYNACONF_OPENAI_CHAT_MODEL_ID="meta-llama/llama-3.3-70b-instruct:free"

# The base URL for the OpenAI API or compatible provider.
DYNACONF_OPENAI_API_BASE_URL="https://openrouter.ai/api/v1"

# The OpenAI API key. Keep this secret!
DYNACONF_OPENAI_API_KEY="<your_openai_api_key_here>"

## === Azure OpenAI ===

# The deployment name for your Azure OpenAI chat model.
DYNACONF_AZURE_OPENAI_CHAT_DEPLOYMENT_NAME="gpt-4o-mini"

# The endpoint URL for your Azure OpenAI resource.
DYNACONF_AZURE_OPENAI_ENDPOINT="https://your-resource.openai.azure.com/"

# The Azure OpenAI API key (if not using Azure CLI authentication). Keep this secret!
DYNACONF_AZURE_OPENAI_API_KEY="<your_azure_openai_api_key_here>"

# === App configuration ===

# Logging level for your application (case insensitive). See https://docs.python.org/3/library/logging.html#logging-levels
# Options: CRITICAL, ERROR, WARNING, INFO, DEBUG, NOTSET
DYNACONF_LOG_LEVEL="info"

# The host address for the agent application.
DYNACONF_AGENT_HOST="0.0.0.0"

# The port number for the agent application.
DYNACONF_AGENT_PORT="8000"

# === Observability ===

# Langfuse Base URL: The base URL of your Langfuse instance.
# Used to send telemetry and observability data to Langfuse.
LANGFUSE_BASE_URL="http://localhost:3001"

# Langfuse Secret Key: This is the private API key for authenticating server-to-server requests to Langfuse.
LANGFUSE_SECRET_KEY="sk-lf-9649bb8b-21af-4416-8e32-d3a1768cf460"

# Langfuse Public Key: This is the public API key for authenticating client-side or browser requests to Langfuse.
# It is safe to expose this key in frontend applications, but it has limited permissions compared to the secret key.
LANGFUSE_PUBLIC_KEY="pk-lf-590be5c0-fc67-4e6a-b310-fbd79963c5a6"
